* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
}

#frm {
  font-family: 'Courier New', Courier, monospace;
  background-color: #333;
  color: whitesmoke;
  border: 2px solid whitesmoke;
  border-radius: 5px;
  width: 500px;
  padding: 40px;
  margin: 300px auto;
}

.btn {
  padding: 5px;
  border-radius: 5px;
  color: #333;
  background-color: whitesmoke;
  cursor: pointer;
}



/* #frm {
  width: 500px;
} */